<div ng-app="OrderApp" ng-controller="OrderCtrl">
    <form action="/Order/UploadFiles" method="post" enctype="multipart/form-data">
        <select name="product" ng-model="selectedProduct" ng-change="selectionChanged(selectedProduct.Description)" ng-options="x.Text for x in products track by x.Value" class="form-control"></select>
        <div id="descriptionDiv">
            <div>

            </div>
        </div>
        <br />
        <br />
        <input id="files" type="file" name="files" multiple />
        <br />
        <br />
        <img id="blah" src="#" alt="your image" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">下一步</button>
    </form>
</div>



<script>
    var app = angular.module('OrderApp', []);
    app.controller('OrderCtrl', function ($scope) {
        $scope.products = @Html.Raw(ViewBag.ProductList);
        $scope.selectionChanged = function(desc){
            $('#descriptionDiv div').remove();
            $('#descriptionDiv').append('<div>' + desc + '</div>');
        }
    });

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $(document).ready(function(){
        $('#files').change(function(){
            readURL(this);
        });
    });
</script>