<div ng-app="OrderApp" ng-controller="OrderCtrl">
    <form action="/Order/UploadFiles" method="post" enctype="multipart/form-data">
        <select name="product" ng-model="selectedProduct" ng-change="selectionChanged(selectedProduct.Description)" ng-options="x.Text for x in products track by x.Value" class="form-control"></select>
        <div id="descriptionDiv">
            <div></div>
        </div>
        <br />
        <br />
        <input id="files" type="file" name="files" multiple />
        <br />
        <br />
        <div id="imgPreview"><div id="imgPreviewContainer"></div></div>
        <br />
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">下一步</button>
    </form>
</div>



<script>
    var app = angular.module('OrderApp', []);
    app.controller('OrderCtrl', function ($scope) {
        $scope.products = @Html.Raw(ViewBag.ProductList);
        $scope.selectionChanged = function(desc){
            $('#descriptionDiv div').remove();
            $('#descriptionDiv').append('<div>' + desc + '</div>');
        }
    });

    function readURL(targetID, file) {

        var reader = new FileReader();

        reader.onload = function(e) {
            var _TargetID = '#' + targetID;
            if(_TargetID.indexOf('.') != -1)
            {
                _TargetID = _TargetID.split('.')[0] + '\\.' + _TargetID.split('.')[1];
            }
            $(_TargetID).attr('src', e.target.result);
        }

        reader.readAsDataURL(file);
    }
    $(document).ready(function(){
        $('#files').change(function(){
            if(this.files.length > 0)
            {
                $('#imgPreview div').remove();
                $('#imgPreview').append('<div id="imgPreviewContainer"></div>');
                for(var i=0; i< this.files.length; i++)
                {
                    var _File = this.files[i];
                    $('#imgPreviewContainer').append('<div><img id="' + _File.name + '" src="#"></img><input name="'+_File.name+'" type="text" placeholder="搭配文字"></input></div>');
                    readURL(_File.name, _File);
                }
            }
        });
    });
</script>