
@{
    ViewBag.Title = "Index";
}

 
@{
    if (!string.IsNullOrEmpty(ViewBag.Info))
    {
        @:<span style="color: red;">@ViewBag.Info</span>
    }
}


<form class="form-signin" action="/Account/Login" method="post">
    <label for="inputLineID" class="sr-only">LineID</label>
    <input type="text" name="inputLineID" class="form-control" placeholder="LineID" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="rememberMe" value="remember-me"> 記住我
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
    還沒有帳號? <a href="/Account/NewUser">註冊</a>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
</form>
